<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Table Wiith Sticky Header</title>
    </head>

<style>

body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #007180;
}
.table-box
{
    width: 800px;
    height: 400px;
    overflow-y: scroll;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
}
table
{
    width: 100%;
}
table, th, td
{
    border: 1px solid #005277;
    border-collapse: collapse;
    text-align: left;
}
th
{
    position: sticky;
    top: 0;
    background: #00bcd4;
    color: #fff;
}
tr th:nth-child(1)
{
    width: 60px;
    text-align: center;
    background: #03707d;
}
tr td:nth-child(1)
{
    background: #00bcd4;
    text-align: center;
    color: #fff;
}

</style>

        <div class="table-box">
            <table cellpaddding="10">
                <tr>
                    <th>No</th>
                    <th>Student_id</th>
                    <th>Student_Fname</th>
                    <th>Student_Lname</th>
                    <th>Subject_id</th>
                    <th>Subject_name</th>
                    <th>Teacher_Fname</th>
                    <th>Teacher_Lname</th>
                </tr>
                <tr>
                    <td data-label="No">1</td>
                    <td data-label="Student_id">6406022610058</td>
                    <td data-label="Student_Fname">Piyawan</td>
                    <td data-label="Student_Lname">Nimpraprut</td>
                    <td data-label="Subject_id">060233113</td>
                    <td data-label="Subject_name">ADVANCED COMPUTER PROGRAMMIN</td>
                    <td data-label="Teacher_Fname">Anirach</td>
                    <td data-label="Teacher_Lname">Mingkwan</td>
                </tr>
                <tr>
                    <td data-label="No"></td>
                    <td data-label="Student_id">6406022610058</td>
                    <td data-label="Student_Fname">Piyawan</td>
                    <td data-label="Student_Lname">Nimpraprut</td>
                    <td data-label="Subject_id">060233201</td>
                    <td data-label="Subject_name">NETWORK ENGINEERING LABORATO</td>
                    <td data-label="Teacher_Fname">Watcharachai</td>
                    <td data-label="Teacher_Lname">Kongsiriwattana</td>
                </tr>
                <tr>
                    <td data-label="No"></td>
                    <td data-label="Student_id">6406022610058</td>
                    <td data-label="Student_Fname">Piyawan</td>
                    <td data-label="Student_Lname">Nimpraprut</td>
                    <td data-label="Subject_id">060233112</td>
                    <td data-label="Subject_name">DATA ENGINEERING</td>
                    <td data-label="Teacher_Fname">Sarayoot</td>
                    <td data-label="Teacher_Lname">Tanessakulwattana</td>
                </tr>

                <tr>
                    <td data-label="No">2</td>
                    <td data-label="Student_id">6406022620061</td>
                    <td data-label="Student_Fname">Mathawee</td>
                    <td data-label="Student_Lname">Robkhob</td>
                    <td data-label="Subject_id">060233113</td>
                    <td data-label="Subject_name">ADVANCED COMPUTER PROGRAMMIN</td>
                    <td data-label="Teacher_Fname">Anirach</td>
                    <td data-label="Teacher_Lname">Mingkwan</td>
                </tr>
                <tr>
                    <td data-label="No"></td>
                    <td data-label="Student_id">6406022620061</td>
                    <td data-label="Student_Fname">Mathawee</td>
                    <td data-label="Student_Lname">Robkhob</td>
                    <td data-label="Subject_id">060233201</td>
                    <td data-label="Subject_name">NETWORK ENGINEERING LABORATO</td>
                    <td data-label="Teacher_Fname">Watcharachai</td>
                    <td data-label="Teacher_Lname">Kongsiriwattana</td>
                </tr>
                <tr>
                    <td data-label="No"></td>
                    <td data-label="Student_id">6406022620061</td>
                    <td data-label="Student_Fname">Mathawee</td>
                    <td data-label="Student_Lname">Robkhob</td>
                    <td data-label="Subject_id">060233112</td>
                    <td data-label="Subject_name">DATA ENGINEERING</td>
                    <td data-label="Teacher_Fname">Sarayoot</td>
                    <td data-label="Teacher_Lname">Tanessakulwattana</td>
                </tr>

                <tr>
                    <td data-label="No">3</td>
                    <td data-label="Student_id">6406022630016</td>
                    <td data-label="Student_Fname">Kamonwan</td>
                    <td data-label="Student_Lname">Janmanee</td>
                    <td data-label="Subject_id">060233113</td>
                    <td data-label="Subject_name">ADVANCED COMPUTER PROGRAMMIN</td>
                    <td data-label="Teacher_Fname">Anirach</td>
                    <td data-label="Teacher_Lname">Mingkwan</td>
                </tr>
                <tr>
                    <td data-label="No"></td>
                    <td data-label="Student_id">6406022630016</td>
                    <td data-label="Student_Fname">Kamonwan</td>
                    <td data-label="Student_Lname">Janmanee</td>
                    <td data-label="Subject_id">060233201</td>
                    <td data-label="Subject_name">NETWORK ENGINEERING LABORATO</td>
                    <td data-label="Teacher_Fname">Watcharachai</td>
                    <td data-label="Teacher_Lname">Kongsiriwattana</td>
                </tr>
                <tr>
                    <td data-label="No"></td>
                    <td data-label="Student_id">6406022630016</td>
                    <td data-label="Student_Fname">Kamonwan</td>
                    <td data-label="Student_Lname">Janmanee</td>
                    <td data-label="Subject_id">060233112</td>
                    <td data-label="Subject_name">DATA ENGINEERING</td>
                    <td data-label="Teacher_Fname">Sarayoot</td>
                    <td data-label="Teacher_Lname">Tanessakulwattana</td>
                </tr>
            </table>
        </div>
</html>